**/__pycache__
**/Temp
**/*Results*/**
**/.ipynb_checkpoints
**/build
**/acados/** 

c_generated_code/
*.json
*.zip
*log*
*.egg-info
# *.html

test.ipynb
test.py

!**/*Results*/PNGs/
!**/*Results*/PNGs/**